<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>AddMessageServlet</servlet-name>
        <servlet-class>com.mark.controller.AddMessageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddMessageServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteMessageServlet</servlet-name>
        <servlet-class>com.mark.controller.DeleteMessageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteMessageServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowMessageServlet</servlet-name>
        <servlet-class>com.mark.controller.ShowMessageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowMessageServlet</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
